.cont{

    margin: 50px;
    display: flex;
    height: 900px;

}
.cont_1{
    width: 40%;
    margin-top: 200px;
   
    
}
.cont_2{
   
    margin-top: 100px;
    width: 60%;
    

}

.credit_heading{
    font-size: 100px;
    font-weight: 400;
    font-style: normal;
    color: rgb(55, 42, 40);
    font-family: "YADK3z8rjvs 0", "auto";
}
h3{
 font-size: 30px;
 text-decoration: none;
 font-weight: 900;
}
h3 p{
    font-weight: 500;
  font-size: 18px;
  color: rgb(55, 42, 40)
}
a{
    text-decoration: none;
    color: rgb(55, 42, 40);
    margin: 20px;
    text-align: left;
}
.education
{
    display: flex;
    flex-direction:column;
}

/*hover used in all the other components */
.hover-3 {
    --b: 0.1em;   /* the thickness of the line */
    --c: rgb(0, 0, 0); /* the color */
    
    color: rgba(248, 244, 244, 0);
    padding-block: var(--b);
    background: 
      linear-gradient(var(--c) 50%,rgb(55, 42, 40) 0) 0% calc(100% - var(--_p,0%))/100% 200%,
      linear-gradient(var(--c) 0 0) 0% var(--_p,0%)/var(--_p,0%) var(--b) no-repeat;
    -webkit-background-clip: text,padding-box;
            background-clip: text,padding-box;
    transition: .3s var(--_s,0s) linear,background-size .3s calc(.3s - var(--_s,0s));
  }
  .hover-3:hover {
    --_p: 100%;
    --_s: .3s;
  }